section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

div{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.viradaparabaixo{
    background-color: blue;
}

.viradaparacima{
    background-image: url('../imagens/minion.png');
    background-position: center;
    background-size: contain    ;
    background-repeat: no-repeat;
}